---
interface Props {
  textOne: string;
  textTwo: string;
}
const { textOne, textTwo } = Astro.props as Props;

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&family=Noto+Sans:wght@400;500;700&family=Plus+Jakarta+Sans:wght@400;500&family=Red+Hat+Display:wght@400;700&display=swap');
      .text-stroke {
  /* Text fill color (foreground color) */
 font-family: 'Red Hat Display', sans-serif;
/* color: rgba(255, 255, 255, 1); */
color: rgb(61,65,73);
  text-shadow: 
  2px 2px 0 rgba(255, 255, 255, 0.21), 
  2px -2px 0 rgba(255, 255, 255, 0.21), 
  -2px 2px 0 rgba(255, 255, 255, 0.21), 
  -2px -2px 0 rgba(255, 255, 255, 0.21), 
  2px 0 0 rgba(255, 255, 255, 0.21), 
  0 2px 0 rgba(255, 255, 255, 0.21), 
  -2px 0 0 rgba(255, 255, 255, 0.21), 
  0 -2px 0 rgba(255, 255, 255, 0.21),
  2px 2px 0 rgba(132, 134, 139, 0.21), 
  2px -2px 0 rgba(132, 134, 139, 50.21), 
  -2px 2px 0 rgba(132, 134, 139, 0.21), 
  -2px -2px 0 rgba(132, 134, 139, 0.21), 
  2px 0 0 rgba(132, 134, 139, 0.21), 
  0 2px 0 rgba(132, 134, 139, 0.21), 
  -2px 0 0 rgba(132, 134, 139, 0.21), 
  0 -2px 0 rgba(132, 134, 139, 0.21);


font-style: normal;
font-weight: 900;
line-height: 160%; /* 10rem */
text-transform: uppercase;;
}
    </style>
  
  <section>
    <dev  class="bg-[#101828] mx-auto h-[28rem] p-4 grid gap-4 place-content-center text-center md:py-[15rem] border border-solid border-gray-300">
    <h1 class="max-w-[52.5rem] font-red-hat text-3xl font-bold capitalize md:text-6xl leading-[1.1] outline-white ">
      <span class="text-stroke">{textOne}</span>
    </h1>
    
    <h1 class="max-w-[52.5rem] font-red-hat text-3xl font-bold capitalize md:text-6xl leading-[1.1]">
    <span class="text-stroke">{textTwo}</span></h1>
    
    </dev>
    
    </section> 
  </body>
</html>