---
interface Props {
  text: string;
  color: string;
}
const { text, color } = Astro.props as Props;

const buttonStyle = {
    backgroundColor: color,
  };
---
<div>
  <button class="text-white text-center px-4  rounded-lg whitespace-nowrap" style={buttonStyle}>
      <p>{text}</p></button>
    </div>
 