---
import Layout from "../layouts/Layout.astro"

---

<Layout>

    <!-- Beginning of Navbar -->
    <!-- <nav
      class="container mx-auto lg:rounded-xl border-b-2 lg:border lg:shadow-md border-[#F2F4F7] px-6 py-5 md:py-3 md:mt-4"
    >
      <div class="flex justify-between items-center">
        <a href="#" class="">
          <img src="assets/images/logo.png" alt="" class="w-10" />
        </a>
        <div class="items-center space-x-10 hidden lg:flex">
          <a href="" class="text-[16px]">About Us</a>
          <a href="" class="text-[16px]">Portfolio</a>
          <a href="" class="text-[16px]">Clients</a>
          <a href="" class="text-[16px]">Resources</a>
        </div>
        <div class="hidden lg:flex">
          <button class="text-white bg-[#FF601F] font-inter px-4 py-2 rounded-lg">
            LET'S TALK!
          </button>
        </div>
      </div>
    </nav> -->
    <!-- End of Navbar -->

    <!-- Beginning of Hero Section -->
    <section
      class="bg-gradient-to-b from-white to-[#F2F4F7] container rounded-xl mx-auto flex justify-center mt-10 items-center py-10 px-4 md:py-28 md:px-28"
    >
      <div class="flex flex-col space-y-2">
        <h1
          class="text-[42px] font-bold text-center font-redhat md:text-[64px] xl:text-[72px]"
        >
          For <span class="text-[#FF601F]">Businesses</span>
        </h1>
        <p class="text-[16px] text-center">
          We offer a rich palette of services designed to meet the diverse needs
          of businesses. Whether it's unveiling a new product, igniting your
          brand's presence, or enhancing internal communications, our video
          editing services are tailored to your specific objectives.
        </p>
      </div>
    </section>
    <!-- Ending of Hero Section -->

    <!-- Beginning of Service Section -->
    <section class="bg-[#F2F4F7] mt-10 py-10 md:py-28">
      <div class="container mx-auto flex flex-col space-y-6">
        <p
          class="text-[32px] text-center font-semibold font-redhat md:text-[48px] xl:text-[64px]"
        >
          Our Palette of <span class="text-[#FF601F]">Corporate</span> Video
          Services
        </p>
        <p class="text-[16px] text-center">
          Unlocking the Power of Visual Storytelling for Your Business
        </p>

        <div class="flex flex-col gap-10 lg:flex-row">
          <!-- card 1 -->
          <div class="flex-1 rounded-xl bg-white w-11/12 mx-auto lg:w-full">
            <img
              src="../../public/businessImages/banner1.png"
              alt=""
              class="h-[205px] mx-auto w-full object-cover rounded-t-xl"
            />
            <div class="flex w-11/12 flex-col py-8 mx-auto space-y-5">
              <p class="text-[18px] font-bold text-center">
                Product <span class="text-[#FF601F]">Demonstrations</span>
              </p>
              <p class="text-[16px] text-center">
                Present your products in their best light with dynamic and
                engaging demonstrations that showcase their features and
                benefits.
              </p>
            </div>
          </div>
          <!-- card 2 -->

          <div class="flex-1 rounded-xl bg-white w-11/12 mx-auto lg:w-full">
            <img
             src="../../public/businessImages/banner2.png"
              alt=""
              class="h-[205px] mx-auto w-full object-cover rounded-t-xl"
            />
            <div class="flex w-11/12 flex-col py-8 mx-auto space-y-5">
              <p class="text-[18px] font-bold text-center">
                Promotional <span class="text-[#FF601F]">Videos</span>
              </p>
              <p class="text-[16px] text-center">
                Craft compelling promotional videos that captivate your
                audience, drive conversions, and enhance brand visibility.
              </p>
            </div>
          </div>
          <!-- card 3 -->

          <div class="flex-1 rounded-xl bg-white w-11/12 mx-auto lg:w-full">
            <img
              src="../../public/businessImages/banner3.png"
              alt=""
              class="h-[205px] mx-auto w-full object-cover rounded-t-xl"
            />
            <div class="flex w-11/12 flex-col py-8 mx-auto space-y-5">
              <p class="text-[18px] font-bold text-center">
                <span class="text-[#FF601F]">Internal</span> Communications
              </p>
              <p class="text-[16px] text-center">
                Foster strong internal connections through effective video
                communication, making sure your message resonates with your
                team.
              </p>
            </div>
          </div>
        </div>

        <!-- cards ends -->
        <div class="px-4 flex justify-center items-center flex-col md:px-28">
          <p class="text-[16px] md-8 md:mt-16 text-center">
            We believe that every video has a story to tell, and every story has
            a message that connects. Our corporate video services are not just
            about visuals; they're about creating a lasting impact on your
            branding and marketing goals.
          </p>
          <button
            class="mt-10 rounded-lg w-[166px] px-5 py-2 font-semibold bg-[#FF601F] text-white font-inter"
          >
            LET'S TALK
            <span class=""><i class="bi bi-arrow-up-right ml-2"></i></span>
          </button>
        </div>
      </div>
    </section>
    <!-- Ending of Service Section -->

    <!-- Beginning of Solution Section -->
    <section class="mx-auto container flex flex-col space-y-10 mt-16">
      <p class="text-[#FF601F] font-semibold text-[20px] text-center">
        WHAT WE CAN DO FOR YOU
      </p>
      <p
        class="text-[32px] text-center font-redhat md:text-[48px] xl:text-[64px]"
      >
        Custom Solutions for...
      </p>

      <!-- Card Container Starts -->
      <div class="flex flex-col lg:flex-row gap-10 mt-10">
        <!-- card 1 -->
        <div
          class="bg-[#F2F4F7] rounded-xl px-5 pt-10 pb-5 space-y-3 flex-1 w-11/12 mx-auto"
        >
          <p class="text-[16px] font-semibold md:text-[32px] xl:text-[36px]">
            Branding & Marketing
          </p>

          <div class="flex items-center space-x-5 pt-6">
            <div class="px-1 rounded-full bg-[#FF601F] bg-opacity-25">
              <i class="bi bi-check text-[#FF601F] text-xl"></i>
            </div>
            <p class="text-[16px]">Brand Identity Videos</p>
          </div>

          <div class="flex items-center space-x-5">
            <div class="px-1 rounded-full bg-[#FF601F] bg-opacity-25">
              <i class="bi bi-check text-[#FF601F] text-xl"></i>
            </div>
            <p class="text-[16px]">Product and Service Promotion</p>
          </div>

          <div class="flex items-center space-x-5">
            <div class="px-1 rounded-full bg-[#FF601F] bg-opacity-25">
              <i class="bi bi-check text-[#FF601F] text-xl"></i>
            </div>
            <p class="text-[16px]">Event Videos</p>
          </div>

          <div class="flex items-center space-x-5">
            <div class="px-1 rounded-full bg-[#FF601F] bg-opacity-25">
              <i class="bi bi-check text-[#FF601F] text-xl"></i>
            </div>
            <p class="text-[16px]">Recruitment and HR Videos</p>
          </div>

          <div class="flex items-center space-x-5">
            <div class="px-1 rounded-full bg-[#FF601F] bg-opacity-25">
              <i class="bi bi-check text-[#FF601F] text-xl"></i>
            </div>
            <p class="text-[16px]">Training and Educational Videos</p>
          </div>

          <div class="flex items-center space-x-5">
            <div class="px-1 rounded-full bg-[#FF601F] bg-opacity-25">
              <i class="bi bi-check text-[#FF601F] text-xl"></i>
            </div>
            <p class="text-[16px]">And many more</p>
          </div>

          <p class="text-[16px] pt-5">
            We’re here to help you. Reach out to us as soon as possible!
          </p>
        </div>

        <!-- card-2 -->
        <div
          class="bg-[#FF601F] bg-opacity-10 rounded-xl px-5 pt-10 pb-5 space-y-3 flex-1 w-11/12 mx-auto"
        >
          <p class="text-[16px] font-semibold md:text-[32px] xl:text-[36px]">
            Digital Marketing
          </p>

          <div class="flex items-center space-x-5 pt-6">
            <div class="px-1 rounded-full bg-[#FF601F] bg-opacity-25">
              <i class="bi bi-check text-[#FF601F] text-xl"></i>
            </div>
            <p class="text-[16px]">Social Media Videos</p>
          </div>

          <div class="flex items-center space-x-5">
            <div class="px-1 rounded-full bg-[#FF601F] bg-opacity-25">
              <i class="bi bi-check text-[#FF601F] text-xl"></i>
            </div>
            <p class="text-[16px]">Ad Campaign Videos</p>
          </div>

          <div class="flex items-center space-x-5">
            <div class="px-1 rounded-full bg-[#FF601F] bg-opacity-25">
              <i class="bi bi-check text-[#FF601F] text-xl"></i>
            </div>
            <p class="text-[16px]">Content Marketing Videos</p>
          </div>

          <div class="flex items-center space-x-5">
            <div class="px-1 rounded-full bg-[#FF601F] bg-opacity-25">
              <i class="bi bi-check text-[#FF601F] text-xl"></i>
            </div>
            <p class="text-[16px]">Email Marketing Videos</p>
          </div>

          <div class="flex items-center space-x-5">
            <div class="px-1 rounded-full bg-[#FF601F] bg-opacity-25">
              <i class="bi bi-check text-[#FF601F] text-xl"></i>
            </div>
            <p class="text-[16px]">YouTube and Online Video Content</p>
          </div>

          <div class="flex items-center space-x-5">
            <div class="px-1 rounded-full bg-[#FF601F] bg-opacity-25">
              <i class="bi bi-check text-[#FF601F] text-xl"></i>
            </div>
            <p class="text-[16px]">And many more</p>
          </div>
        </div>
      </div>
      <!-- Card Container Ends  -->
    </section>
    <!-- End of Solution Section -->

    <!-- Beginning of Analytic Section -->
    <section class="mx-auto container mt-16">
      <div class="flex flex-col space-y-6">
        <p
          class="text-[32px] text-center font-redhat md:text-[48px] xl:text-[64px]"
        >
          Our Impact on Businesses
        </p>
        <p class="text-[16px] text-center">
          Stories of transformation, engagement, and success.
        </p>

        <div
          class="py-10 bg-[#F2F4F7] px-10 rounded-xl flex flex-col justify-between gap-10 md:flex-row"
        >
          <div class="flex flex-col space-y">
            <p
              class="text-[32px] font-semibold text-center font-redhat md:text-[48px] xl:text-[64px]"
            >
              3000<span class="text-[#FF601F]">+</span>
            </p>
            <p class="text-[18px] text-center">Businesses empowered</p>
          </div>

          <div class="flex flex-col space-y">
            <p
              class="text-[32px] font-semibold text-center font-redhat md:text-[48px] xl:text-[64px]"
            >
              50<span class="text-[#FF601F]">%</span>
            </p>
            <p class="text-[18px] text-center">Growth in Online Engagement</p>
          </div>

          <div class="flex flex-col space-y">
            <p
              class="text-[32px] font-semibold text-center font-redhat md:text-[48px] xl:text-[64px]"
            >
              100m<span class="text-[#FF601F]">+</span>
            </p>
            <p class="text-[18px] text-center">Total Views</p>
          </div>
        </div>

        <p class="text-[16px] text-center px-[24px] pt-5">
          These figures reflect the tangible results we deliver to businesses
          across diverse sectors. Our video editing and storytelling expertise
          drive growth and success
        </p>
      </div>
    </section>
    <!-- End of Analytic section -->

    <!-- Beginning of Case Study  -->
    <section class="py-14 bg-[#F2F4F7] mt-10">
      <div class="container mx-auto">
        <div class="flex flex-col space-y-6">
          <p
            class="text-[32px] text-center font-redhat md:text-[48px] xl:text-[64px]"
          >
            Case <span class="text-[#FF601F]">Studies</span>
          </p>
          <p class="text-[16px] text-center px-[24px] pt-5">
            Stories of transformation, engagement, and success.
          </p>
        </div>

        <!-- card container -->
        <div
          class="grid grid-cols-1 gap-10 md:grid-cols-2 mt-10 lg:grid-cols-3"
        >
          <!-- card 1 -->
          <div
            class="bg-white rounded-xl p-4 flex flex-col justify-between w-11/12 md:w-full mx-auto"
          >
            <div class="flex flex-col space-y-4">
              <img src="../../public/businessImages/ico.svg" alt="" class="w-[64px]" />
              <p class="text-[24px] font-bold">Wanderlust Chronicles</p>
              <p class="text-[16px] leading-[25px] hidden md:block">
                The project garnered over 1 million views and sparked a 20%
                increase in travel bookings for our client
              </p>
            </div>

            <button
              class="border-2 py-2 mt-8 md:mt-16 font-semibold border-[#F2F4F7] rounded-xl"
            >
              LEARN MORE
              <span class=""><i class="bi bi-arrow-up-right ml-2"></i></span>
            </button>
          </div>

          <!-- card 2 -->
          <div
            class="bg-white rounded-xl p-4 flex flex-col justify-between w-11/12 md:w-full mx-auto"
          >
            <div class="flex flex-col space-y-4">
              <img src="../../public/businessImages/ico.svg" alt="" class="w-[64px]" />
              <p class="text-[24px] font-bold">Wanderlust Chronicles</p>
              <p class="text-[16px] leading-[25px] hidden md:block">
                The project garnered over 1 million views and sparked a 20%
                increase in travel bookings for our client
              </p>
            </div>

            <button
              class="border-2 py-2 mt-8 md:mt-16 font-semibold border-[#F2F4F7] rounded-xl"
            >
              LEARN MORE
              <span class=""><i class="bi bi-arrow-up-right ml-2"></i></span>
            </button>
          </div>

          <!-- card 3 -->
          <div
            class="bg-white rounded-xl p-4 flex flex-col justify-between w-11/12 md:w-full mx-auto"
          >
            <div class="flex flex-col space-y-4">
              <img src="../../public/businessImages/ico.svg" alt="" class="w-[64px]" />
              <p class="text-[24px] font-bold">Wanderlust Chronicles</p>
              <p class="text-[16px] leading-[25px] hidden md:block">
                The project garnered over 1 million views and sparked a 20%
                increase in travel bookings for our client
              </p>
            </div>

            <button
              class="border-2 py-2 mt-8 md:mt-16 font-semibold border-[#F2F4F7] rounded-xl"
            >
              LEARN MORE
              <span class=""><i class="bi bi-arrow-up-right ml-2"></i></span>
            </button>
          </div>

          <!-- card 4 -->
          <div
            class="bg-white rounded-xl p-4 flex flex-col justify-between w-11/12 md:w-full mx-auto"
          >
            <div class="flex flex-col space-y-4">
              <img src="../../public/businessImages/ico.svg" alt="" class="w-[64px]" />
              <p class="text-[24px] font-bold">Wanderlust Chronicles</p>
              <p class="text-[16px] leading-[25px] hidden md:block">
                The project garnered over 1 million views and sparked a 20%
                increase in travel bookings for our client
              </p>
            </div>

            <button
              class="border-2 py-2 mt-8 md:mt-16 font-semibold border-[#F2F4F7] rounded-xl"
            >
              LEARN MORE
              <span class=""><i class="bi bi-arrow-up-right ml-2"></i></span>
            </button>
          </div>

          <!-- card 5 -->
          <div
            class="bg-white rounded-xl p-4 flex flex-col justify-between w-11/12 md:w-full mx-auto"
          >
            <div class="flex flex-col space-y-4">
              <img src="../../public/businessImages/ico.svg" alt="" class="w-[64px]" />
              <p class="text-[24px] font-bold">Wanderlust Chronicles</p>
              <p class="text-[16px] leading-[25px] hidden md:block">
                The project garnered over 1 million views and sparked a 20%
                increase in travel bookings for our client
              </p>
            </div>

            <button
              class="border-2 py-2 mt-8 md:mt-16 font-semibold border-[#F2F4F7] rounded-xl"
            >
              LEARN MORE
              <span class=""><i class="bi bi-arrow-up-right ml-2"></i></span>
            </button>
          </div>

          <!-- card 6 -->
          <div
            class="bg-white rounded-xl p-4 flex flex-col justify-between w-11/12 md:w-full mx-auto"
          >
            <div class="flex flex-col space-y-4">
              <img src="../../public/businessImages/ico.svg" alt="" class="w-[64px]" />
              <p class="text-[24px] font-bold">Wanderlust Chronicles</p>
              <p class="text-[16px] leading-[25px] hidden md:block">
                The project garnered over 1 million views and sparked a 20%
                increase in travel bookings for our client
              </p>
            </div>

            <button
              class="border-2 py-2 mt-8 md:mt-16 font-semibold border-[#F2F4F7] rounded-xl"
            >
              LEARN MORE
              <span class=""><i class="bi bi-arrow-up-right ml-2"></i></span>
            </button>
          </div>

          <!-- card ends -->
        </div>
      </div>
    </section>
    <!-- End of Case Study -->

    <!-- Conclusion Section starts -->
    <section class="bg-[#101828] pt-16 pb-10 opacity-75">
      <div
        class="container flex flex-col gap-10 w-11/12 mx-auto md:w-full"
      >
        <div class="lg:w-1/2">
          <div class="space-y-6">
            <p
              class="text-[32px] font-redhat md:text-[48px] xl:text-[64px] xl:leading-[70px] font-bold text-white"
            >
              Elevating Your Brand's Identity
            </p>
            <p class="text-[16px] md:text-[20px] text-white">
              Your brand's identity is at the core of your business, and it's
              our privilege to enhance it through video storytelling. We believe
              that video is the medium that connects brands to their audience,
              and we're here to craft your unique narrative.
            </p>
          </div>
        </div>

        <div class="flex flex-col items-center gap-10 lg:flex-row">
          <div class="w-full h-56 bg-[#ffffff] opacity-10 lg:w-4/12"></div>
          <div class="lg:w-8/12">
            <p class="text-[16px] md:text-[20px] text-white">
              Our expertise in video storytelling goes beyond the visual. It's
              about weaving a narrative that speaks directly to your audience,
              creating a connection that goes beyond words. With tifi.tv, your
              branding and marketing efforts are not just campaigns; they're
              stories waiting to be told.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- Conclusion Section Ends  -->

    <!-- NewsLetter Section Starts -->

    <section class="pt-16">
      <div class="container mx-auto flex flex-col space-y-7">
        <p
          class="text-[32px] font-redhat text-center md:text-[48px] xl:text-[64px] xl:leading-[70px] font-bold"
        >
          Let’s Create Something Together
        </p>
        <div class="w-full lg:w-1/2 mx-auto flex flex-col gap-10">
          <p class="text-[16px] text-center md:text-[20px]">
            It's time to turn your vision into reality. The possibilities are
            endless when it comes to visual storytelling. If you're ready to
            embark on a project that can transform your business, we're here to
            make it happen.
          </p>

          <!-- Form Starts -->
          <form action="" class="lg:px-10 flex flex-col space-y-10">
            <fieldset class="flex flex-col space-y-2">
              <label for="" class="font-jak">Company Name</label>
              <input type="text" class="w-full border border-[#D0D5DD] px-4 py-2 rounded-lg" placeholder="Enter business name">
            </fieldset>

            <fieldset class="flex flex-col space-y-2">
              <label for="" class="font-jak">Email Address</label>
              <input type="text" class="w-full border border-[#D0D5DD] px-4 py-2 rounded-lg" placeholder="Enter email address">
            </fieldset>

            <fieldset class="flex flex-col space-y-2">
              <label for="" class="font-jak">Subject (Optional)</label>
              <input type="text" class="w-full border border-[#D0D5DD] px-4 py-2 rounded-lg" placeholder="Enter subject">
            </fieldset>

            <fieldset class="flex flex-col space-y-2">
              <label for="" class="font-jak">Tell us what we can do for you</label>
              <textarea name="" class="w-full border border-[#D0D5DD] px-4 py-2 h-32 rounded-lg" placeholder="Type your message..."></textarea>
            </fieldset>
            <button class="py-2 text-white text-[16px] font-semibold rounded-lg bg-[#FF601F]">SEND MESSAGE</button>
          </form>
          <!-- Form Ends -->
        </div>
      </div>
    </section>
    <!-- NewsLetter Section Ends -->
</Layout>

<style>
      * {
        font-family: "Noto Sans", sans-serif;
      }

      .font-redhat {
        font-family: "Red Hat Display", sans-serif;
      }

      .font-inter {
        font-family: "Inter", sans-serif;
      }

      .font-jak {
        font-family: 'Plus Jakarta Sans', sans-serif;
      }
    </style>