---
import Layout from '../layouts/layout.astro';
import Hero from '../components/landing/Hero.astro';
import Company from '../components/Company.astro';
---
<Layout title="TiFi">
	<div class="overflow-x-hidden">
		<Hero />
		<div class="mt-10">
			<Company />
		</div>
	</div>
</Layout>