---
import Layout from '../layouts/layout.astro';
import Hero from '../components/landing/Hero.astro';
import Company from '../components/Company.astro';
import DarkSection from '../components/landing/DarkSection.astro';
import Explore from '../components/landing/Explore.astro';
---
<Layout title="TiFi">
	<div class="overflow-x-hidden">
		<Hero />
		<div class="mt-10 mb-5">
			<Company />
		</div>
		<Explore />
		<!-- <DarkSection textOne='We are more than' textTwo='just a website.' /> -->
	</div>
</Layout>