---
import Button from '../components/button.astro'
const text = "From marketing strategies to the latest industry insights, our resources are designed to be your guiding light in the world of visual storytelling. We're dedicated to helping businesses harness the true potential of video content to connect with their audience, drive conversions, and elevate their brand presence."
const indiText = "Whether you're a content creator, a filmmaker, or someone with a passion for video, our resources are designed to be your creative compass. We're here to help you turn your vision into captivating reality, enhancing your storytelling, and making every frame count."
---

<div class="bg-[#F2F4F7]>
<div class="px-6 md:px-[1.5rem] mb-[3rem]">
  <h2 class="text-[#FF601F] md:text-[1.25rem] font-Noto-Sans font-semibold text-center">WHO WE HELP</h2>
  <h3 class="text-[#101828] text-[2rem] md:text-[3rem] font-medium text-center font-Red-Hat-Display">Custom Solutions for...</h3>
  <div class="mt-[2.5rem] xl:flex xl:gap-[3rem] flex-row-reverse">
    <img src="/busi.png" alt="" class="mb-[1.5rem] w-full flex-1" />
    <div class="flex-1 xl:pl-[2rem]">
        <h2 class="text-[#101828] text-[1.5rem] md:text-[2rem] md:font-semibold font-medium font-Noto-Sans">Businesses and Brands<h2>
        <p class="text-[#1D2939] text-[1rem] leading-loose font-Noto-Sans font-normal ">{text}</p>
        <button class="mt-[2rem] font-Inter text-[#101828] text-[1.5rem] font-semibold px-4 py-2 border-[1px] rounded-md border-[#101828]">
            VIEW RESOURCES
            <span class="material-symbols-outlined ml-3 font-Inter text-[#101828] font-semibold text-[2rem]">arrow_outward</span>
        </button>
    </div>
   </div>
</div>
<div class="px-6 mb-[4rem] py-4">
  <div class="mt-[2.5rem] p-3 bg-[#F4E2DD] rounded-md xl:flex xl:gap-[3rem] flex-row-reverse">
    <img src="/indi.png" alt="" class="mb-[1.5rem] w-full flex-1" />
    <div class="flex-1 xl:my-auto xl:pl-[2rem]">
        <h2 class="text-[#101828] text-[1.5rem] md:text-[2rem] md:font-semibold font-medium font-Noto-Sans">Individuals<h2>
        <p class="text-[#1D2939] text-[1rem] leading-loose font-Noto-Sans font-normal ">{indiText}</p>
        <button class="mt-[2rem] font-Inter text-[#101828] font-semibold px-4 py-2 border-[1px] rounded-md border-[#101828]">
            VIEW RESOURCES
            <span class="material-symbols-outlined ml-3 font-Inter text-[#101828] font-semibold text-[2rem]">arrow_outward</span>
        </button>
    </div>
   </div>
</div>
</div>