---
import Videos from '../components/Videos.astro'
import FAQ from '../components/FAQ.astro'
---


<div>
 <h2 class="text-[2rem] text-[#1D2939] text-center font-medium font-Noto-Sans">Features</h2>
 <Videos />
 <div>
   <h2 class="text-[2rem] text-[#1D2939] text-center font-medium font-Noto-Sans">FAQs</h2>
   <FAQ />
 </div>
</div>